/* IMPORTS */

@font-face {
  font-family: "Mantinia Regular";
  src: url("assets/MantiniaRegular.otf") format("otf");
}

/* INITIALIZATION */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
  user-select: none;
}

/* MAIN */

body {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-color: rgb(24, 20, 17);
  background-size: cover;
  background-position: center;
  overflow: hidden;

  padding: 30px;

  font-family: "Mantinia Regular", "Times New Roman", Times, serif;

  -webkit-app-region: drag;
}

body > * {
  -webkit-app-region: no-drag;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 9vmin;
  text-align: center;

  color: #fff;

  -webkit-app-region: drag;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 3vmin;
  text-align: center;

  color: #fff;

  -webkit-app-region: drag;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  padding: 0 0 20px;
  margin-bottom: 10px;

  color: #fff;
  border-bottom: solid 1px rgba(142, 140, 128, 0.75);

  -webkit-app-region: drag;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 1);
  padding-top: 10px;
}

ul > button {
  align-self: center;
  margin: auto 0 20px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(42, 42, 33, 0) 0%,
    rgba(42, 42, 33, 0.75) 10%,
    rgba(42, 42, 33, 0.75) 90%,
    rgba(42, 42, 33, 0) 100%
  );
  padding: 4px 10%;
  margin: 2px 0;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: 100% 80px;
  mask-size: 100% 80px;
}

li.active,
li:hover {
  background: linear-gradient(
    0deg,
    rgba(59, 57, 45, 0) 0%,
    rgba(59, 57, 45, 1) 10%,
    rgba(59, 57, 45, 1) 90%,
    rgba(59, 57, 45, 0) 100%
  );
}

li > p {
  margin-left: 12px;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: rgba(188, 189, 184, 1);
  padding-top: 4px;
  text-align: left;
}

button {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: rgba(188, 189, 184, 1);
  border-radius: 1px;
  border: solid 1px rgba(124, 124, 124, 0.8);
  background-color: rgba(21, 20, 16, 1);
  padding-top: 8px;
  padding-bottom: 4px;
  width: 305px;
  box-shadow: 0px 0px 4px rgba(124, 124, 122, 1),
    inset 0px 0px 4px rgba(124, 124, 122, 1);

  transition: all 0.1s;
}

button:focus,
button:hover,
button:active {
  color: rgba(188, 188, 188, 1);
  outline: solid 1px rgba(142, 140, 128, 1);
  background-color: rgba(59, 57, 45, 1);
  box-shadow: 0px 0px 4px rgba(124, 124, 122, 1),
    inset 0px 0px 4px rgba(124, 124, 122, 1);
}

button:disabled {
  color: rgba(124, 124, 124, 0.5);
  border: solid 1px rgba(124, 124, 122, 0.3);
  box-shadow: 0px 0px 4px rgba(124, 124, 122, 0.5),
    inset 0px 0px 4px rgba(124, 124, 122, 0.5);
}

input {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  font-size: 24px;
  color: rgba(188, 189, 184, 1);
  border-radius: 1px;
  border: solid 1px rgba(124, 124, 124, 0.8);
  background-color: rgba(21, 20, 16, 1);
  padding: 6px 12px;
  width: 305px;
  box-shadow: 0px 0px 4px rgba(124, 124, 122, 1),
    inset 0px 0px 4px rgba(124, 124, 122, 1);

  transition: all 0.1s;
}

/* CLASSES */

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  margin-top: 40px;
  width: auto;
}

.character-list {
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  color: rgba(188, 189, 184, 0.85);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 10%;

  background: linear-gradient(
    0deg,
    rgba(42, 42, 33, 0) 0%,
    rgba(42, 42, 33, 0.35) 10%,
    rgba(42, 42, 33, 0.35) 90%,
    rgba(42, 42, 33, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: 100% 80px;
  mask-size: 100% 80px;
}

.character-list > p {
  margin: 8px 0;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: solid 1px rgba(142, 140, 128, 1);
  border-bottom: solid 1px rgba(142, 140, 128, 1);

  background-color: rgba(161, 153, 108, 0.75);
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-size: 100% 50px;
  mask-size: 100% 50px;

  transition: all 0.1s;
}

.modal > ul {
  box-shadow: 0px 0px 8px rgba(124, 124, 122, 1),
    inset 0px 0px 8px rgba(124, 124, 122, 1);
  min-width: 70vw;
  min-height: 35vh;
  height: 100%;
  padding: 20px;
}

.modal > ul li:nth-last-child(2) {
  margin-bottom: 40px;
}

.modal > ul > button {
  margin: auto 0 20px;
}

.open,
.init {
  visibility: visible;
  opacity: 1;
}

.init {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-mask-image: none;
  mask-image: none;
  z-index: 1;
}

.modal.character-name ul li input {
  height: 30px;
}

.modal.slot-list ul li {
  margin-top: 0;
}

.close-app {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 30px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
